@charset "utf-8";

* {
    font-family: 'Racing Sans One', cursive;
    font-weight: 200;
    margin: 0px;
    padding: 0px;
}

/*-----------TEXT FONT----------*/
h1 {
    text-shadow: 2px 2px 4px #000000;
}

h4{
     text-shadow: 2px 2px 4px #000000;
}

/*-----------CONTAINERS----------*/
body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    padding-bottom: 65px;
}

/*-----------HEADER----------*/
header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 100px;
    text-align: center;
}

.header-index {
    background-image: url(Styles/Img/fm7_logo.png);
    background-color: white;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.header-all {
    background-color: #343a40;
    background-image: url(Styles/Img/fm7_logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#app {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

/*-----------INDEX----------*/
.nav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.teams {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    background-image: url(Styles/Img/all%20cars.jpg);
    background-size: cover;
    border: 5px solid black;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
}

.dates {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    background-image: url(Styles/Img/Forza0013.jpeg);
    background-size: cover;
    border: 5px solid black;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
}

.leaderboards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    background-image: url(Styles/Img/Forza0130.jpeg);
    background-size: contain;
    border: 5px solid black;
    text-shadow: 2px 2px 4px #000000;
}

.tracks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    background-image: url(Styles/Img/Forza0005.jpeg);
    background-size: cover;
    border: 5px solid black;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
}

/*-----------FOOTER----------*/
.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: #343a40;
    text-shadow: 2px 2px 4px #000000;
}

.navbar-collapse {
    width:0px;
}

.chat {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 35%;
    text-align: center;
}

a {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    border-radius: 10%;
    width: 120px;
    height: 50px;
    font-size: 20px;
    color: white;
}

/*-----------LOGOS----------*/
.logoTeams {
    width: 100%;
    height: 100%;
    padding-bottom: 70px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.logoTracks{
padding-top: 40px;
}

.logo {
    width: 30%;
    margin-top: 30px;
}

.img-fluid {
    border-radius: 50%;
}

.arrow{
    width 40px;
    height: 40px;
}

/*-----------TRACKS----------*/
.trackmap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.track {
    margin-top: 50px;
    border: 5px solid black;
}

.card-header {
    display: flex;
    justify-content: center;
     background-color:  #343a40;
}

.card-body {
    background-color: ghostwhite;
}

/*-----------LEADERBOARDS----------*/
.table1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
